@model IEnumerable<PPPprodavnica1.Proizvod>

@{
    ViewBag.Title = "Index";
}

<h2>Lista proizvoda</h2>


    @if (User.Identity.IsAuthenticated)
    {
    <p>
        @Html.ActionLink("Unesi novi proizvod", "Create")
        
    </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UlaznaCena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IzlaznaCena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UlaznaCena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IzlaznaCena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Opis)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("Izmeni ", "Edit", new { id = item.BarKodArtikla })
                        @Html.ActionLink("Obrisi ", "Delete", new { id = item.BarKodArtikla })
                    }
                    @Html.ActionLink("Detalji", "Details", new { id = item.BarKodArtikla })
                </td>
            </tr>
        }

    </table>
