@model IEnumerable<PPPprodavnica1.Prodavnica>

@{
    ViewBag.Title = "Prodavnica";
}

<h2>Pregled stanja u prodavnici</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Novi unos", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vreme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvod.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vreme)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proizvod.Naziv)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Izmeni ", "Edit", new { id = item.RbUnosa })  
                @Html.ActionLink("Obrisi ", "Delete", new { id = item.RbUnosa })
            }
                @Html.ActionLink("Detalji", "Details", new { id = item.RbUnosa }) 

        </td>
    </tr>
}

</table>
