@model PPPprodavnica1.Profaktura

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Profaktura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UkupnaVrednost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UkupnaVrednost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vreme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vreme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Proizvod.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proizvod.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.IDProfakture }) |
    @Html.ActionLink("Vratite se nazad", "Index")
</p>
